<details class="row" style="margin-bottom: 20px;">
  <div class="col-sm-4">
    <input type="date" ng-model="start" class="form-control">
  </div>
  <div class="col-sm-4">
    <input type="date" ng-model="end" class="form-control" ng-min="start">
  </div>
  <div class="col-sm-4">
    <select class="form-control"
            name="presets"
            ng-model="vm.preset"
            ng-change="vm.presetChange($event)"
            ng-options="option.label for option in vm.presetsOptions track by option.value">
    </select>
  </div>
</details>
