<section class="container">
  <div class="row">
    <div class="col-sm-12">
      <div ng-class="{'input-group':vm.search}" style="width: 200px;">
        <input type="text" class="form-control" placeholder="Filter" ng-model="vm.search" />
        <span class="input-group-btn" ng-show="vm.search">
          <button class="btn btn-info" type="button" ng-click="vm.search = ''">
            X
          </button>
        </span>
      </div>
    </div>

    <div class="col-sm-12" style="margin-top: 20px;">
      <div class="panel panel-default">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Area</th>
                <th>Status</th>
                <th>Last Change</th>
              </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.items | filter: vm.search">
              <td>
                <a ui-sref="technology({radarId: vm.radarId, techName: item.name, techId: item.id})">{{::item.name}}</a>
              </td>
              <td>
                {{::item.area}}
              </td>
              <td>
                {{::item.status}}
              </td>
              <td>
                {{::item.lastChange}} <a ui-sref="radar({radarId: vm.radarId, snapshotId: item.snapshotId})">in {{::item.snapshotId}}</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</section>
