<nav class="navbar navbar-default Header">
  <div class="container">
    <div class="navbar-header">
      <button aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
      </button>
      <h1 class="navbar-brand">
        <a ui-sref="radar"><img width="80px" height="44px" alt="" src="assets/images/PGS_logo.svg" /></a>
        <span class="navbar-separator"></span>
        <a class="Header-homeLink" ui-sref="radar">Technology Radar</a>
      </h1>
    </div>
    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="navbar.AuthService.isAuthenticated()">
          <a ui-sref="admin" ui-sref-active="is-active">Admin</a>
        </li>
        <li class="hidden-xs"><span class="navbar-separator"></span></li>

        <li ng-if="navbar.AuthService.isAuthenticated()">
          <a ui-sref="login">
            <img ng-show="navbar.AuthService.currentUser.facebook.profileImageURL" ng-src="{{navbar.AuthService.currentUser.facebook.profileImageURL}}" class="img-circle Navbar-avatar">
            &nbsp;{{navbar.AuthService.currentUser.facebook.displayName}}
          </a>
        </li>
        <li ng-if="!navbar.AuthService.isAuthenticated()">
          <a ui-sref="login">
            Login
          </a>
        </li>
      </ul>
    </div>

    <flash-message duration="5000" show-close="true" on-dismiss="myCallback(flash);"></flash-message>
  </div>
</nav>

