<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        Technology Radar
      </a>
    </div>

    <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active" ><a ui-sref="home">Home</a></li>
        <li ui-sref-active="active" ng-show="navbar.radarId"><a ui-sref="radar({radarId: navbar.radarId})">Radar</a></li>
        <li ui-sref-active="active" ng-show="navbar.radarId"><a ui-sref="grid({radarId: navbar.radarId})">Grid</a></li>
        <!-- TODO: Check permissions by current user and radar creator -->
        <li ui-sref-active="active" ng-show="navbar.radarId" ng-if="navbar.AuthService.currentUser.password.email == 'mhans@pgs-soft.com'"><a ui-sref="admin({radarId: navbar.radarId})">Admin</a></li>
      </ul>

      <ul class="Navbar-user nav navbar-nav navbar-right" >
        <li><a href="" full-screen>FULL</a></li>
        <li ng-if="navbar.AuthService.currentUser" ui-sref-active="active">
          <a ui-sref="login" class="Navbar-userLink">
            <img class="Navbar-avatar" ng-src="{{navbar.AuthService.currentUser.facebook.profileImageURL || navbar.AuthService.currentUser.password.profileImageURL}}" alt="">
            {{navbar.AuthService.currentUser.facebook.displayName || navbar.AuthService.currentUser.password.email}}
          </a>
        </li>

        <li ui-sref-active="active" ng-if="!navbar.AuthService.currentUser">
          <a ui-sref="login">Login</a>
        </li>
      </ul>
    </nav>



  </div>
</nav>
