<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        Technology Radar
      </a>
    </div>

    <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="radar({radarId: navbar.radarId})">Radar</a></li>
        <li ui-sref-active="active"><a ui-sref="grid({radarId: navbar.radarId})">Grid</a></li>
        <li ui-sref-active="active" ng-if="navbar.AuthService.currentUser.provider == 'facebook'"><a ui-sref="admin({radarId: navbar.radarId})">Admin</a></li>
      </ul>

      <ul class="Navbar-user nav navbar-nav navbar-right" >
        <li><a href="" full-screen>FULL</a></li>
        <li ng-if="navbar.AuthService.currentUser.provider == 'facebook'">
          <a ui-sref="login" class="Navbar-userLink">
            <img class="Navbar-avatar" ng-src="{{navbar.AuthService.currentUser.facebook.profileImageURL}}" alt="">
            Hello {{navbar.AuthService.currentUser.facebook.displayName}}!
          </a>
        </li>

        <li ng-if="login.AuthService.currentUser.provider == 'anonymous'">
          <a ui-sref="login" class="Navbar-userLink">
            Hello guest!
          </a>
        </li>
        <li ui-sref-active="active" ng-if="!login.AuthService.currentUser">
          <a ui-sref="login">Login</a>
        </li>
      </ul>
    </nav>



  </div>
</nav>
