<section class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4>Admin</h4>

      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table">
            <thead>
            <tr>
              <th>Domain</th>
              <th>Name</th>
              <th>Area</th>
              <th>Status</th>
              <th>Updated</th>
              <th>Edit</th>
              <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.items">
              <td>{{item.domain}}</td>
              <td>{{item.name}}</td>
              <td>{{item.area}}</td>
              <td>{{item.status}}</td>
              <td>{{item.updated | date:'yyyy-MM-dd'}}</td>
              <td>
                <button class="btn btn-xs btn-default" ng-click="vm.editItemForm($index)">Edit</button>
              </td>
              <td>
                <button class="btn btn-xs btn-danger" ng-click="vm.removeItem($index)">X</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div>
        <button class="btn btn-primary btn-lg" ng-click="vm.addItemForm()" ng-show="!vm.adminFormVisible">New Item</button>
      </div>


      <div class="panel panel-default" ng-show="vm.adminFormVisible">
        <div class="panel-body">
          <formly-form model="vm.adminForm.model" fields="vm.adminForm.fields">
            <button type="submit" class="btn btn-primary" ng-click="vm.onSubmit()">Save</button>
            <button type="reset" class="btn btn-primary" ng-click="vm.onCancel()">Cancel</button>
          </formly-form>
        </div>
      </div>

      <!--<pre>{{vm.adminForm | json}}</pre>-->
      <!--<pre>{{vm.adminForm.model | json}}</pre>-->
    </div>
  </div>
</section>
