<section class="container">
  <div class="row">
    <div class="col-sm-12">

      <div class="text-center">
        <button ng-if="vm.AuthService.currentUser"
                class="btn btn-primary" ng-click="vm.logout()">Logout</button>
      </div>

      <form ng-if="!vm.AuthService.currentUser" name="vm.form.form" novalidate ng-submit="vm.onSubmit()">
        <formly-form  model="vm.form.model" fields="vm.form.fields">
          <button type="submit" class="btn btn-primary" ng-disabled="vm.form.form.$invalid">Submit</button>
        </formly-form>
      </form>



      <div class="text-center" ng-if="!vm.AuthService.currentUser">
        <hr>
        <button class="btn btn-primary btn-lg" ng-click="vm.facebookLogin()">Login With Facebook</button>
      </div>



      <!--<div class="panel panel-default" ng-if="vm.AuthService.isAuthenticated()">
        <div class="panel-body">
          <h4>Users</h4>
          <ul>
            <li ng-repeat="user in vm.AuthService.users"><img class="Navbar-avatar" ng-src="{{user.avatar}}" alt="">{{user.displayName}}</li>
          </ul>
        </div>
      </div>-->

    </div>
  </div>
</section>
