<section class="container">
  <div class="row">
    <div class="col-sm-12">

      <div class="text-center">
        <button ng-if="vm.AuthService.currentUser"
                class="btn btn-primary" ng-click="vm.logout()">Logout</button>
      </div>

      <div class="row" ng-if="!vm.AuthService.currentUser">
        <div class="col-sm-12" ng-if="vm.errors.length">
          <div class="alert alert-danger" ng-repeat="error in vm.errors">{{error.message}}</div>
        </div>

        <div class="col-md-4 col-md-offset-1">
          <div class="panel panel-default">
            <div class="panel-body">
              <h4>Login</h4>
              <hr>
              <form name="vm.loginForm.form" novalidate ng-submit="vm.simpleLogin()">
                <formly-form  model="vm.loginForm.model" fields="vm.loginForm.fields">
                  <button type="submit" class="btn btn-primary" ng-disabled="vm.loginForm.form.$invalid">Login</button>
                  <!--<div class="pull-right">-->
                  <!--<a href="">Forgot password?</a>-->
                  <!--</div>-->
                </formly-form>
              </form>

              <div class="text-center" ng-if="!vm.AuthService.currentUser">
                <hr>
                <button class="btn btn-facebook" ng-click="vm.facebookLogin()" style="background: #3b5998; color: #fff;">Login With Facebook</button>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-4 col-md-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">
              <h4>Create account</h4>
              <hr>
              <form name="vm.registerForm.form" novalidate ng-submit="vm.createUser()">
                <formly-form  model="vm.registerForm.model" fields="vm.registerForm.fields">
                  <button type="submit" class="btn btn-primary" ng-disabled="vm.registerForm.form.$invalid">Create account</button>
                </formly-form>
              </form>
            </div>
          </div>
        </div>
      </div>






      <!--<div class="panel panel-default" ng-if="vm.AuthService.isAuthenticated()">
        <div class="panel-body">
          <h4>Users</h4>
          <ul>
            <li ng-repeat="user in vm.AuthService.users"><img class="Navbar-avatar" ng-src="{{user.avatar}}" alt="">{{user.displayName}}</li>
          </ul>
        </div>
      </div>-->

    </div>
  </div>
</section>
