<div class="Radar">
  <div class="Radar-canvas">
    <div class="Radar-axisX"></div>
    <div class="Radar-axisY"></div>

    <div class="Radar-circles">
      <div class="Radar-circle Radar-circle--hold">
        <div class="Radar-circleLabel">Hold</div>
      </div>
      <div class="Radar-circle Radar-circle--trial">
        <div class="Radar-circleLabel">Trial</div>
      </div>
      <div class="Radar-circle Radar-circle--assess">
        <div class="Radar-circleLabel">Assess</div>
      </div>
      <div class="Radar-circle Radar-circle--adopt">
        <div class="Radar-circleLabel">Adopt</div>
      </div>
    </div>

    <div class="Radar-items">
      <div class="Radar-item"
           ng-repeat="item in vm.viewItems"
           ng-style="{top: -item.position.y + '%', left: item.position.x + '%'}">
        <a class="Radar-item-icon u-tooltip" data-title="{{::item.name}}" ui-sref="{{::stateOnClick}}({techName: item.name, techId: item.idx})">{{::item.idx}}</a>
      </div>
    </div>
  </div>

  <div class="RadarLabels">
    <div class="RadarLabels-area" ng-repeat="area in ['Tools', 'Techniques', 'Platforms', 'Languages & Frameworks']">
      <h3 class="RadarLabels-areaHeader">{{::area}}</h3>
      <div class="RadarLabels-statuses">
        <div class="RadarLabels-status" ng-repeat="status in ['Adopt', 'Trial', 'Assess', 'Hold']">
          <h4 class="RadarLabels-statusHeader">{{::status}}</h4>
          <ul class="RadarLabels-items">
            <li class="RadarLabels-item"
                ng-click="vm.callback(item)"
                ng-repeat="item in vm.viewItems | filter: { area: area, status: status }">
              <span class="RadarLabels-icon">{{::item.idx}}</span><a class="RadarLabels-label" ui-sref="{{::stateOnClick}}({techName: item.name, techId: item.$id})">{{::item.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="Radar-loader" ng-if="vm.loader"><div class="u-loader"></div></div>
</div>
