<div class="Radar">
  <div class="Radar-search">
    <div ng-class="{'input-group':vm.search}">
      <input type="text" class="form-control" placeholder="Filter" ng-model="vm.search" />
        <span class="input-group-btn" ng-show="vm.search">
          <button class="btn btn-info" type="button" ng-click="vm.search = ''">
            X
          </button>
        </span>
    </div>
  </div>

  <div class="Radar-canvas">

    <div class="Radar-circles">
      <div class="Radar-circle Radar-circle--hold">
        <div class="Radar-circleLabel">Hold</div>
      </div>
      <div class="Radar-circle Radar-circle--assess">
        <div class="Radar-circleLabel">Assess</div>
      </div>
      <div class="Radar-circle Radar-circle--trial">
        <div class="Radar-circleLabel">Trial</div>
      </div>
      <div class="Radar-circle Radar-circle--adopt">
        <div class="Radar-circleLabel">Adopt</div>
      </div>
    </div>

    <div class="Radar-axisX"></div>
    <div class="Radar-axisY"></div>

    <div class="Radar-items">
      <div class="Radar-item Radar-item--{{::item.area}}"
           id="Radar-item-{{::item.id}}"
           ng-class="{'is-active': item.active}"
           ng-mouseenter="item.active = true"
           ng-mouseleave="item.active = undefined"
           ng-repeat="item in vm.viewItems | filter: {name: vm.search}"
           ng-style="{top: -item.position.y + '%', left: item.position.x + '%'}">
        <a class="Radar-item-icon u-tooltip" data-title="{{::item.name}}"
           ui-sref="{{::stateOnClick}}({radarId: radarId, techName: item.name, techId: item.id})">{{::item.idx}}</a>
      </div>
    </div>
  </div>

  <div class="RadarLabels">
    <div class="RadarLabels-area RadarLabels-area--{{::area}}" ng-repeat="area in ['Tools', 'Techniques', 'Platforms', 'Languages & Frameworks']">
      <h3 class="RadarLabels-areaHeader">{{::area}}</h3>
      <div class="RadarLabels-statuses">
        <div class="RadarLabels-status" ng-repeat="status in ['Adopt', 'Trial', 'Assess', 'Hold']">
          <h4 class="RadarLabels-statusHeader">{{::status}}</h4>
          <ul class="RadarLabels-items">
            <li class="RadarLabels-item"
                ng-class="{'is-active': item.active}"
                id="RadarLabels-item-{{::item.id}}"
                ng-repeat="item in vm.viewItems | filter: { area: area, status: status, name: vm.search }">
              <span class="RadarLabels-icon">{{::item.idx}}</span>
              <a class="RadarLabels-label"
                 ng-mouseenter="item.active = true"
                 ng-mouseleave="item.active = undefined"
                 ui-sref="{{::stateOnClick}}({radarId: radarId, techName: item.name, techId: item.id})">{{::item.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="Radar-loader" ng-if="vm.loader">
    <div class="u-loader"></div>
  </div>
</div>
