$orange: #ff7626;
$axisColor: #ddd;

.Radar {
  position: relative;

  &-canvas {
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: 40px auto;

    @media (min-width: 800px) {
      height: 600px;
      width: 600px;
    }

    @media (min-width: 900px) {
      height: 700px;
      width: 700px;
    }

    @media (min-width: 1100px) {
      height: 800px;
      width: 800px;
    }
  }

  &-axisX {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: $axisColor;
  }

  &-axisY {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background: $axisColor;
  }

  &-circle {
    position: absolute;
    background: transparent;
    border: solid 1px #ccc;
    border-radius: 50%;
    text-align: center;

    &--hold {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    &--assess {
      top: 12.5%;
      left: 12.5%;
      bottom: 12.5%;
      right: 12.5%;
    }

    &--trial {
      top: 25%;
      left: 25%;
      bottom: 25%;
      right: 25%;
    }

    &--adopt {
      top: 37.5%;
      left: 37.5%;
      bottom: 37.5%;
      right: 37.5%;
    }
  }

  &-circleLabel {
    font-size: 12px;
  }

  &-items {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
  }

  &-item {
    $radarItemWidth: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    width: $radarItemWidth;
    margin-top: -($radarItemWidth/2);
    margin-left: -($radarItemWidth/2);
    font-size: $radarItemWidth*0.5;
    line-height: 150%;

    &-icon {
      text-align: center;
      cursor: pointer;
      background: $orange;
      border-radius: 50%;
      border: solid 1px $orange;


      &:hover {
        background: white;

        & + DIV {
          opacity: 1;
        }
      }
    }

    &-details {
      display: inline-block;
      opacity: 0;
      color: $orange;
      padding: 3px;
      position: absolute;
      top: -18px;
      left: 18px;
      transition: opacity 0.5s;
    }
  }
}

.RadarLabels {
  @media (max-width: 800px) {
    display: none;
  }

  &-area {
    position: absolute;
    font-size: 10px;
    width: 150px;
    padding: 5px;

    /* Tools */
    &:nth-child(1) {
      top: 0;
      right: 0;
      text-align: right;
    }

    /* Techniques */
    &:nth-child(2) {
      top: 0;
      left: 0;
    }

    /* Platforms */
    &:nth-child(3) {
      top: 50%;
      left: 0;
    }

    /* Languages & Frameworks */
    &:nth-child(4) {
      top: 50%;
      right: 0;
      text-align: right;
    }
  }

  &-areaHeader {
    font-size: 14px;
    margin: 0;
    color: $orange;
  }

  &-statuses {

  }

  &-status {

  }

  &-statusHeader {
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0 0 0;
  }

  &-items {
    padding: 0;
    list-style: none;
  }

  &-item {
    margin: 0;
    padding: 0;
  }
}
