$orange: #ff7626;
$axisColor: #ddd;
$colorQ1: #83AD78;
$colorQ4: #3DB5BE;
$colorQ3: #E88744;
$colorQ2: #8D2145;

@keyframes animateCircleOpacity {
  from {opacity: 0;}
  to {opacity: 1;}
}

.Radar {
  $bgAdopt: #BFC0BF;
  $bgTrial: #CBCCCB;
  $bgAssess: #D7D8D6;
  $bgHold: #E4E5E4;

  position: relative;

  &-search {
    position: absolute;
    top: -50px;
    width: 200px;
    right: 0;
  }

  &-canvas {
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: 40px auto;

    @media (min-width: 800px) {
      height: 600px;
      width: 600px;
    }

    @media (min-width: 900px) {
      height: 700px;
      width: 700px;
    }

    @media (min-width: 1100px) {
      height: 800px;
      width: 800px;
    }

    @media (min-width: 1300px) {
      height: 1000px;
      width: 1000px;
    }
  }

  &-axisX {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: $axisColor;
  }

  &-axisY {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background: $axisColor;
  }

  &-circle {
    position: absolute;
    background: transparent;
    //border: solid 1px #ccc;
    border-radius: 50%;
    text-align: center;
    opacity: 0;

    &--hold {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: $bgHold;
      animation: animateCircleOpacity 0.5s linear 0.3s forwards;
    }

    &--assess {
      top: 12.5%;
      left: 12.5%;
      bottom: 12.5%;
      right: 12.5%;
      background: $bgAssess;
      animation: animateCircleOpacity 0.5s linear 0.2s forwards;
    }

    &--trial {
      top: 25%;
      left: 25%;
      bottom: 25%;
      right: 25%;
      background: $bgTrial;
      animation: animateCircleOpacity 0.5s linear 0.1s forwards;
    }

    &--adopt {
      top: 37.5%;
      left: 37.5%;
      bottom: 37.5%;
      right: 37.5%;
      background: $bgAdopt;
      animation: animateCircleOpacity 0.5s linear 0s forwards;
    }
  }

  &-circleLabel {
    font-size: 12px;
    position: relative;
    z-index: 1;
  }

  &-items {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: animateCircleOpacity 0.1s linear 0.5s forwards;
  }

  &-item {
    $radarItemWidth: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    width: $radarItemWidth;
    margin-top: -($radarItemWidth/2);
    margin-left: -($radarItemWidth/2);
    font-size: $radarItemWidth*0.5;
    line-height: 150%;
    transition: 1s top ease, 1s left ease;

    &--Tools {
      .Radar-item-icon {
        border-color: $colorQ1;
        background-color: $colorQ1;
      }
    }

    &--Languages {
      .Radar-item-icon {
        border-color: $colorQ2;
        background-color: $colorQ2;
      }
    }

    &--Platforms {
      .Radar-item-icon {
        border-color: $colorQ3;
        background-color: $colorQ3;
      }
    }

    &--Techniques {
      .Radar-item-icon {
        border-color: $colorQ4;
        background-color: $colorQ4;
      }
    }

    &.is-active > .Radar-item-icon {
      background: white;
      color: $gray;
      text-decoration: none;
      z-index: 1;
      transform: scale(2);
    }

    &.is-changed {
      .Radar-item-icon {
        border-radius: 0;
      }
    }

    .Radar-item-icon {
      display: block;
      text-align: center;
      cursor: pointer;
      border-radius: 50%;
      border: solid 1px transparent;
      color: white;
      transition: transform 0.2s;

      &:hover {
        background: white;
        color: $gray;
        text-decoration: none;

        & + DIV {
          opacity: 1;
        }
      }

      &.u-tooltip:hover:before {
        bottom: 2em;
        left: 0.5em;
      }
      &.u-tooltip:hover:after {
        bottom: 2.35em;
        left: -1em;
      }
    }

    &-details {
      display: inline-block;
      opacity: 0;
      color: $orange;
      padding: 3px;
      position: absolute;
      top: -18px;
      left: 18px;
      transition: opacity 0.5s;
    }
  }

  &-loader {
    position: absolute;
    top: -140px;
    width: 100%;
  }
}

.RadarLabels {
  @media (max-width: 800px) {
    display: none;
  }

  &-area {
    position: absolute;
    font-size: 12px;
    width: 200px;
    padding: 5px;
    max-height: 50%;
    overflow: auto;

    /* Tools */
    &--Tools{
      top: -15px;
      right: 0;
      text-align: right;

      .RadarLabels-label {
        color: $colorQ1;
      }
    }

    /* Techniques */
    &--Techniques {
      top: -15px;
      left: 0;
      .RadarLabels-label {
        color: $colorQ4;
      }
    }

    /* Platforms */
    &--Platforms {
      top: 50%;
      left: 0;
      max-height: 60%;
      .RadarLabels-label {
        color: $colorQ3;
      }
    }

    /* Languages & Frameworks */
    &--Languages {
      top: 50%;
      right: 0;
      max-height: 60%;
      text-align: right;
      .RadarLabels-label {
        color: $colorQ2;
      }
    }
  }

  &-areaHeader {
    font-size: 16px;
    margin: 0;
    color: #a8a8a8;
  }

  &-statuses {

  }

  &-status {

  }

  &-statusHeader {
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0 0 0;
  }

  &-items {
    padding: 0;
    list-style: none;

    &:empty {
      display: none;
    }
  }

  &-item {
    margin: 0;
    padding: 0;

    &.is-active > A{
      text-decoration: underline;
    }
  }

  &-icon {
    opacity: 0.5;
    padding: 0.3em;
  }
}

.RadarLegend {
  text-align: center;
  font-size: 11px;
}
