<section class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron" ng-if="!vm.AuthService.currentUser">
        <h1>Hello!</h1>
        <p>Do you like <strong>Technology Radars</strong> from <em><a href="https://www.thoughtworks.com/radar" target="_blank" rel="nofollow">ThoughtWorks</a></em>? We like `em too :)
          <br>Here you can <a ui-sref="createRadar">create your own</a> technology radar in couple minutes! And yeah... it`s completely free.
        </p>
        <p><a class="btn btn-primary btn-lg" ui-sref="createRadar" role="button">Start now</a></p>
      </div>

      <div class="panel panel-default" ng-if="vm.AuthService.currentUser">
        <div class="panel-body">
          <h2>My radars <button class="btn btn-primary pull-right" ui-sref="createRadar">Create radar</button></h2>
          <ul>
            <li ng-repeat="radar in vm.radars | filter: {author: vm.AuthService.currentUser.uid}"><a ui-sref="radar({radarId: radar.id})">{{radar.title}}</a></li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Public radars <button ng-if="!vm.AuthService.currentUser" class="btn btn-primary pull-right" ui-sref="createRadar">Create radar</button></h2>
          <ul>
            <li ng-repeat="radar in vm.radars | filter: {isPublic: true}"><a ui-sref="radar({radarId: radar.id})">{{radar.title}}</a></li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default" ng-if="vm.showPrivate">
        <div class="panel-body">
          <h2>Private radars</h2>
          <ul>
            <li ng-repeat="radar in vm.radars | filter: {isPublic: false}"><a ui-sref="radar({radarId: radar.id})">{{radar.title}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
