<section class="container">
  <div class="row">
    <div class="col-sm-12">
      <a ui-sref="radar({radarId: vm.radarId})">Back to radar</a>
      <h1>{{vm.item.name}}</h1>
      <dl>
        <dt class="text-info">Area</dt>
        <dd>{{vm.item.area}}</dd>
        <dt class="text-info">Status</dt>
        <dd>{{vm.item.status}}</dd>
      </dl>
      <p>{{vm.item.description}}</p>

      <div ng-if="vm.item.history.length" class="col-md-6">

        <!-- Timeline -->
        <div class="timeline">

          <!-- Line component -->
          <div class="line text-muted"></div>


          <!-- Panel -->
          <article class="panel panel-primary" ng-repeat="history in vm.item.history">

            <!-- Icon -->
            <div class="panel-heading icon">
              <i class="glyphicon glyphicon-plus"></i>
            </div>
            <!-- /Icon -->

            <!-- Heading -->
            <div class="panel-heading">
              <h2 class="panel-title">{{history.status}}</h2>
            </div>
            <!-- /Heading -->

            <!-- Body -->
            <div class="panel-body">
              <small>{{history.date | date}}</small>
              <small class="pull-right">
                <a ui-sref="radar({radarId: vm.radarId, snapshotId: history.snapshotId})">Show snapshot</a>
              </small>
            </div>
            <!-- /Body -->

            <!-- Footer -->
            <!--<div class="panel-footer">
              <small>{{history.date | date}}</small>
            </div>-->
            <!-- /Footer -->

          </article>
          <!-- /Panel -->


        </div>
        <!-- /Timeline -->
      </div>

    </div>
  </div>
</section>

<details>
  <pre>
    {{vm.item | json}}
  </pre>
</details>
